body{ 
  display: flex; 
  justify-content: center; 
  align-items: center;  
  
}

#display{
  height: 50px;
  text-align: right;
  font-weight: 400;
  background-color: #D6E5FA;
}


#table{
  border: 40px outset #548CFF;
  width: 30%;
  border-radius: 30px;
}

td{
  height:50px;
  text-align:center;
  font-weight:800;
  background-color: #9AD0EC;
}

#zero{
  position: relative;
  bottom: -15px;
}

.myButton{
  height: 100%;
  width: 100%;
  box-sizing:border-box;
  font: 30px Arial, sans-serif;
  background-color: #1572A1;
  color: #ffffff;
}

.display{
  height: 50px;
  width: 100%;
  box-sizing:border-box;
  text-align: right;
  font-weight: bolder;
  font: 50px Arial, sans-serif;
}